.git
.env
node_modules
storefront/node_modules
storefront/dist
storefront/*.tsbuildinfo
npm-debug.log

anchor-escrow/.anchor
anchor-escrow/target
anchor-escrow/node_modules
anchor-escrow/test-ledger

**/.DS_Store
